@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Bangers&family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    font-size: 15pt;
    font-family: 'Cormorant', serif;
    background-attachment:fixed;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl0ZUOsV0lZVPukaYt87EvOZi8XFvUiEuVQQ&s");
}

p {
    color: red;
    margin: 20px;
}
.allergen {
   color: #ff5500;
   text-transform: uppercase;
}

#burgers {
    background-color: black;
    color: white;
    border: 2px solid #f6de07;
}


#burgers div {
  margin: 20px;
  padding: 10px;
}

#contact {
    background-color: white;
    border: 2px solid #f6de07;
}

section * h3 {
    font-size: 19pt;
    font-family: 'Rock Salt';
    margin: 20px;
}

h2 {
    font-size: 15pt;
    font-family: 'Rock Salt';
    margin: 7px;
}
button:hover {
    background-color: rgb(105, 223, 105);
    color: black;
    font-weight: bold;
    font-family: 'Rock Salt';
    cursor: pointer;
    transform: scale(1.8);
}

section {
  margin: 30px;

  padding: 20px;
}

button {
  margin-top: 20px;
}

main, header, footer, nav ul {
    max-width: 75rem;
    margin: 0 auto 0 auto;
}

main {
    background-color: rgb(11, 106, 68);
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    background-image: url("https://jamaicans.com/wp-content/uploads/Reasons-Jamaican-Are-The-Most-Chill-People-In-The-World.jpeg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 370px;
    padding-top: 50px;
}

header h1 {
    width:40rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rock Salt';
    font-size: 30pt;
    color: rgb(17, 96, 17); 
}

.wrapper {
    display:grid;
    grid-gap:15px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    margin: 0 auto;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}
